{% extends 'base.html' %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Hey {{name}} - {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        
    {% endfor %}

    {% if id == current_user.id %}
        
   

    
        <h1>Update User...</h1>
        <br>
        <br><br>
        <div class="shadow p-3 mb-5 bg-body rounded">

        <form action="/update/{{name_to_update.id}}" method="POST">
            {{form.hidden_tag()}}
            
            {{form.name.label(class="form-label")}}
            {{form.name(class="form-control", value=name_to_update.name)}}
            <br>
            {{form.username.label(class="form-label")}}
            {{form.username(class="form-control", value=name_to_update.username)}}
            <br>
            {{form.email.label(class="form-label")}}
            {{form.email(class="form-control", value=name_to_update.email)}}
            <br>
            {{form.field.label(class="form-label")}}
            {{form.field(class="form-control", value=name_to_update.field)}}
            <br>

            {{form.submit(class="btn btn-secondary")}}
            <a href="{{ url_for('delete', id=name_to_update.id) }}" type="button" class="btn btn-outline-danger btn-sm mx-1">Delete</a>
        </form>
    </div>
    <br><br><br>

    {% else %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Sorry!! You Can't Edit this User!!!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <h2>Access Denied!!!</h2>
        <p>Sorry, You can't access this user profile....</p>

    {% endif %}
    
{% endblock content %}